.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border: outset white 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

li {
  list-style-type: none;
}

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}
a.button1:hover {
  color: #FFFFFF;
  background-color: #000000;
}
@media all and (max-width:30em) {
  a.button1 {
    display:block;
    margin:0.4em auto;
  }
}

.cool-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}
.cool-button:hover {
  color: #FFFFFF;
  background-color: #de7b0b;
}
@media all and (max-width:30em) {
  .cool-button {
    display:block;
    margin:0.4em auto;
  }
}

.cool-font {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.cool-box {
  box-sizing: border-box;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0 0.3em 0;
  border-radius: 0.12em;
}